/* ------------------------PC------------------
@media(min-width:1024px){

} */




/* ------------------------ipad------------------ */
/* @media(max-width:1023px){
    #tour .img-tour{
        display: block;
        width: 100%;
    }
  
    #tour .tour-contain{
        width: 100%;
        margin: 0 auto;
    }
}

 */


/* ------------------------mobie------------------ */
@media(max-width: 739px){
 #nav > li {
     display: block;
 }
 #tour .img-tour{
    display: block!important;
    width: 100%;
}

#tour .tour-contain{
    width: 100%;
    margin: 0 auto;
}
#tour .img-tour{
    display: block;
    width: 100%;
}

#tour .tour-contain{
    width: 100%;
    margin: 0 auto;
}
#tour .place-tour{
    width: 100%!important;
}
}